body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Return Condizionale*/
h1 {
  text-align: center;
}

img {
  width: 200px;
  border-radius: 50%;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

/*Mostrare e Nascondere u Componente*/
button {
  margin: 0 auto;
  display: block;
  background-color: deepskyblue;
  border: 1px solid orange;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}
